
@import url('./common.css');


/* actual clock */
.animation{

    border: 2px solid white;

    width: 300px;
    height: 300px;

    margin: 0px 0px 60px 0px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.animation div{
    width: 10px;
    height: 200px;
    
    position: absolute;
    /* border:  2px solid white; */
    /* animation: rotate 1s linear infinite; */
}

.animation div:nth-child(1){
    /* animation-delay: 0s; */
    width: 8px;
}
.animation div:nth-child(2){
    /* animation-delay: 0.333s; */
    width: 5px;
    
}
.animation div:nth-child(3){
    /* animation-delay: 0.666s; */
    width: 2px;

}

.animation div:nth-child(4){
    width: 20px;
    height: 20px;
    background-color: var(--color-third);
    border-radius:50%;
}

.animation div span{
    display: block;
    /* float: right; */
    
    background-color: var(--color-third);
    border-radius: 5px;

    width: 100%;
    height: 50%;
}


/* @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */



/* digital clock */
.numbers{

    margin: 0px 0px;
    padding: 10px 20px;

    width: auto;
    height: auto;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers p {

    font-size: 2.5em;
    font-weight: 100;

    width: 120px; 
    height: 70px;

    margin: 0px 10px;
    padding: 0px 0px;

    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.2);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}